name: Java CI + Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Java tests with Gradle in JDK 25 container
        run: |
          docker run --rm \
            -v ${PWD}:/workspace \
            -w /workspace \
            gradle:9.2.1-jdk25-alpine \
            ./gradlew :app:test

      - name: Build Docker image
        run: docker build -t my-app:latest .

      # - name: Log in to GitHub Container Registry
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Push Docker image
      #   run: |
      #     docker tag my-app:latest ghcr.io/${{ github.repository }}/my-app:latest
      #     docker push ghcr.io/${{ github.repository }}/my-app:latest
